@mixin not-last-child($selector)
    & #{$selector}:not(:last-child)
        @content

.headerBox
    box-shadow: 0 2px 8px #f0f1f2
    // background-color: #fff235
    background-color: #35ffb7

.layoutMenu
    border: none !important
    float: right
    padding-right: 20px

.box
    display: flex
    flex-flow: column
    height: 100%
    & .row
        border: 1px dotted grey
    & .headerBox
        flex: 0 1 auto
    & .contentBox
        flex: 1 1 auto

.titleBox
    margin-bottom: 0 !important

.inputBox
    margin: 10px
    // &::after
    //     content: "" !important
    //     width: 85% !important
    //     height: 1px
    //     background: #999
    //     position: absolute
    //     bottom: -1px
    //     left: 25px

.backTopBox
    right: 50px

.iconBackTopBox
    font-size: 50px
    color: #1DA57AD9
